.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
Paper/Project1.aux
Paper/Project1.bbl
Paper/Project1.blg
Paper/Project1.log
Paper/Project1.out
Paper/Project1.pdf
